.card {
    transition: .3s box-shadow;
    position: relative;
    height: 300px;
    overflow: hidden;
    font-size: initial;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.card:hover {
    transition: .3s box-shadow;
    box-shadow: none;
}

.card-type-normal {
    grid-column: span 1;
}

.card-type-double {
    grid-column: span 2;
}

.card-link {
    transition: .3s background;
    height: 100%;
    width: 100%;
    position: absolute;
    color: black;
    background: rgba(255, 255, 255, .2);
}

.card-link:hover {
    transition: .3s background;
    background: rgba(255, 255, 255, .7);
}

.card-header {
    margin: 30px 30px 15px;
}

.card-description {
    margin: 10px 30px;
}

@media (max-width: 480px) {
    .card {
        grid-column: span 1;
        box-shadow: none;
    }
}